div{
    background: yellow;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.target{
    /* background: red; */
    /* border: 5px dashed #ef0; */
    /* position: relative; */
    /* padding: 5px; */
/* margin:0 10%b ; */
    font-size: 2em;
}
.target::after{
    content: '';
    height: 10px;
    width: 100vw;
    background-color: blueviolet;
    display: block;
    position: relative;
}
h1{
    border: 5px dashed #fac;
    padding: 20px;
    background:#000;
    color: green;
}
h1::after{
    content: '';
    height: 10px;
    width: 100vw;
    background-color: blueviolet;
    display: block;
    position: relative;
}